<div class="row">
    <div class="col-6 col-md">
        Workflow
        <small class="d-block mb-3 text-muted">&copy; 2023</small>
    </div>
    <div class="col-6 col-md">
        <h5>что-то</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Клик</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Заглушка для админки</h5>
        <h1>admin@example.com</h1>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'admin:index' %}">Вход</a></li>
        </ul>
    </div>

</div>
